<a href="/citas/inicio">Inicio</a>
<a href="/clientes">Clientes</a>
{{#if user}}
<a href="/empleado/crear">Nuevo Empleado</a>
{{/if}}
<a href="/cliente/crear">Nuevo Cliente</a>
<a href="/citas/create">Nueva Cita</a>
<a href="/logout">Cerrar sesión</a>