<h2>Register</h2>
<form action="/auth/register" method="post">
{{> form}}
<select name="role" id="role">
    <option value="ADMIN">Admin</option>
    <option value="CLIENTE">Cliente</option>
    <option value="EMPLOYER">Empleado</option>
</select>
<button type="submit">Register</button>
</form>